cap_executable: "/path/to/bin/cap"
cap_commands:
  - "-T"
  - "deploy"
  - "deploy:check"
  - "deploy:cleanup"
  - "deploy:cold"
  - "deploy:create_symlink"
  - "deploy:migrate"
  - "deploy:migrations"
  - "deploy:pending"
  - "deploy:pending:diff"
  - "deploy:rollback"
  - "deploy:rollback:code"
  - "deploy:setup"
  - "deploy:symlink"
  - "deploy:update"
  - "deploy:update_code"
  - "deploy:upload"
  - "deploy:web:disable"
  - "deploy:web:enable"
  # Custom Commands
  - "production deploy"
projects:
  project1: "/path/to/project/1"
  project2: "/path/to/project/2"